In [1]:
import pandas as pd
import os as OS

file_path_school = OS.path.join('Resources','Schools_Complete.csv')
file_path_student = OS.path.join('Resources','Students_Complete.csv')

pd_csv_school = pd.read_csv(file_path_school)
pd_csv_student = pd.read_csv(file_path_student)

#Merge 2 original source DB files into 1 DF
merged_df = pd.merge(pd_csv_student, pd_csv_school, how='left')

# scores_avg_df = pd.DataFrame([merged_df.groupby(['school_name'])['reading_score'].mean() , merged_df.groupby(['school_name'])['math_score'].mean()]).T
# scores_avg_df.columns=['reading_score_avg' , 'math_score_avg']

# merged_df = pd.merge(merged_df, scores_avg_df, how='left',on=["school_name", "school_name"])

#Add 2 columns for math and reading score results, if pass "True" is given or "False" for not pass
pass_score = 70
merged_df['reading_pass']=True
merged_df['reading_pass']=merged_df['reading_pass'].where(merged_df['reading_score']>=pass_score,False)
merged_df['math_pass']=True
merged_df['math_pass']=merged_df['math_pass'].where(merged_df['math_score']>=pass_score,False)

merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass,math_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [2]:
#Variables for multiple uses
total_school = merged_df['school_name'].drop_duplicates().count()
total_student = merged_df['student_name'].count()

district_sum_df = pd.DataFrame([{'Total Schools':total_school, 'Total Students':total_student}])
district_sum_df['Total Budget'] = merged_df['budget'].drop_duplicates().sum()
district_sum_df['Average Math Score'] = merged_df['math_score'].sum() / total_student
district_sum_df['Average Reading Score'] = merged_df['reading_score'].sum() / total_student
district_sum_df['% Passing Math'] = merged_df[merged_df['math_pass']==True]['student_name'].count() / total_student * 100
district_sum_df['% Passing Reading'] = merged_df[merged_df['reading_pass']==True]['student_name'].count() / total_student * 100
district_sum_df['% Overall Passing'] = merged_df[(merged_df['math_pass']==True) & (merged_df['reading_pass']==True)]['student_name'].count() / total_student * 100

#Styling output
district_sum_df = district_sum_df.style.format({'Total Students':'{0:,}','Total Budget':'${0:,.2f}'})

district_sum_df