In [1]:
import pandas as pd
import os as OS

file_path_school = OS.path.join('Resources','Schools_Complete.csv')
file_path_student = OS.path.join('Resources','Students_Complete.csv')

pd_csv_school = pd.read_csv(file_path_school)
pd_csv_student = pd.read_csv(file_path_student)

# --- Merge 2 original source DB files into 1 DF
merged_df = pd.merge(pd_csv_student, pd_csv_school, how='left')

# --- Add 2 columns for math and reading score results, if pass "True" is given or "False" for not pass
pass_score = 70
merged_df['reading_pass']=True
merged_df['reading_pass']=merged_df['reading_pass'].where(merged_df['reading_score']>=pass_score,False)
merged_df['math_pass']=True
merged_df['math_pass']=merged_df['math_pass'].where(merged_df['math_score']>=pass_score,False)

merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass,math_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True

In [2]:
# --- Variables for multiple uses
total_school = merged_df['school_name'].drop_duplicates().count()
total_student = merged_df['student_name'].count()

district_sum_df = pd.DataFrame([{'Total Schools':total_school, 'Total Students':total_student}])
district_sum_df['Total Budget'] = merged_df['budget'].drop_duplicates().sum()
district_sum_df['Average Math Score'] = merged_df['math_score'].sum() / total_student
district_sum_df['Average Reading Score'] = merged_df['reading_score'].sum() / total_student
district_sum_df['% Passing Math'] = merged_df[merged_df['math_pass']==True]['student_name'].count() / total_student * 100
district_sum_df['% Passing Reading'] = merged_df[merged_df['reading_pass']==True]['student_name'].count() / total_student * 100
district_sum_df['% Overall Passing'] = merged_df[(merged_df['math_pass']==True) & (merged_df['reading_pass']==True)]['student_name'].count() / total_student * 100

# --- Styling output
district_sum_df = district_sum_df.style.format({'Total Students':'{0:,}','Total Budget':'${0:,.2f}'})

district_sum_df

In [3]:

school_sum_df = pd.DataFrame(pd_csv_school)
school_sum_df = school_sum_df.set_index('school_name')
school_sum_df = school_sum_df.sort_index(axis=0)
school_sum_df = school_sum_df.drop(columns=['School ID'])
school_sum_df = school_sum_df.rename(columns={'type':'School Type','size':'Total Students','budget':'Total School Budget'})

school_sum_df['Per Student Budget'] = school_sum_df['Total School Budget'] / school_sum_df['Total Students']
school_sum_df['Average Math Score'] = merged_df.groupby(['school_name'])['math_score'].mean()
school_sum_df['Average Reading Score'] = merged_df.groupby(['school_name'])['reading_score'].mean()
school_sum_df['% Passing Math'] = merged_df[merged_df['math_pass']==True].groupby(['school_name'])['student_name'].count() / school_sum_df['Total Students'] * 100
school_sum_df['% Passing Reading'] = merged_df[merged_df['reading_pass']==True].groupby(['school_name'])['student_name'].count() / school_sum_df['Total Students'] * 100
school_sum_df['% Oversall Passing'] = merged_df[(merged_df['math_pass']==True) & (merged_df['reading_pass']==True)].groupby(['school_name'])['student_name'].count() / school_sum_df['Total Students'] * 100

# --- Styling Output
school_sum_df = school_sum_df.style.format({'Total Students':'{:,.0f}','Total School Budget':'${:,.2f}','Per Student Budget':'${:,.2f}'})


school_sum_df